@{
    ViewData["Title"] = "Access Pending";
}
<div class="cwps-editor-container pt-3 vh-100">
<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-secondary text-light">
                <div class="card-header">
                    <h3 class="card-title">
                        Almost done!
                    </h3>
                </div>
                <div class="card-body">
                    <p>Your account needs an administrator to finish your setup so you can access this website.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>